---
import Layout from "../layouts/Layout.astro";
import Terminal from "../components/Terminal/Terminal.astro";
---

<Layout title="Xin Chào">
  <main>
    <Terminal title="terminal" />
  </main>
</Layout>

<style is:global>
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    margin-bottom: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c0caf5;
  }
</style>
